*{
    margin:0;
    pading:0;
    list-style: none;
}
main{
    width: 600px;
    height:auto;
    margin:20px auto;
    border:1px solid #ccc;
    border-radius: 5px;
}
main>h3{
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}
table{
    border-collapse: collapse;
    width:100%;
    text-align: center;
}
td{
   padding:5px;
}
tr:nth-of-type(2n){
    background: #fdfdfd;

}
button{
    width:54px;
    height:24px;
}
.add{
    float:right;
    margin-right: 40px;
    margin-top:5px;
}